{% extends 'base.html' %}

{% block title %}
<title> Welcome to Senior Sec.Class Page</title>
{% endblock title %}


{% block content %}


<div class="container">
    <h1>{{srsec}}</h1>
  </div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Class-XI
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <a href="{% url 'hindixi' %}">Hindi </a>     &emsp;  
        <a href="#">English</a>    &emsp;
        <a href="#">Mathematics</a>&emsp;
        <a href="#">Physics</a>&emsp;
        <a href="#">Chemistry</a>&emsp;
        <a href="#">Biology</a>&emsp;
        <a href="{% url 'csxi' %}">Computer Science</a>&emsp;
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Class-XII
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">      
    <div class="card-body">
        <a href="{% url 'hindixii' %}">Hindi </a>     &emsp;  
        <a href="{% url 'engxii' %}">English</a>    &emsp;
        <a href="{% url 'mathxii' %}">Mathematics</a>&emsp;
        <a href="{% url 'phyxii' %}">Physics</a>&emsp;
        <a href="{% url 'chexii' %}">Chemistry</a>&emsp;
        <a href="{% url 'bioxii' %}">Biology</a>&emsp;
        <a href="{% url 'csxii' %}">Computer Science</a>&emsp;
      </div>
    </div>
  </div>

  </div>
  
    </div>
  </div>
  






</div>

  

{% endblock content %}